.text-content{
    height: 240px;
}
.content{
    font-weight: 300;
    height: 90px;
    display: -webkit-box;
    overflow: hidden;
}
.title{
    height: 20px;
    display: -webkit-box;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}