
<ion-header [translucent]="true">
  <ion-buttons slot="start">

    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

  </ion-buttons>
</ion-header>
<ion-content [fullscreen]="true">



  <div class="header">
    <ion-title class="title"> Enter your email
    <p class="subTitle">To receive a reset password link</p>
  </ion-title>
  </div>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Email" class="input" [(ngModel)]="email"></ion-input>
        <ion-icon name ="person-outline"></ion-icon>
      </ion-item>
    
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;"> 
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab> 
</ion-content>
