.text-content{
    min-height: 240px;

    padding: 20px;
    font-size: 1.2em;
    font-weight: 300;
}
.title{
    font-weight: bold;
    color:black;
    font-size: 1.3em;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.text{
    padding: 20px;
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 20px;
}